table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #337AB7;
    color: white;
}

.footer-form-buttons {
  display: flex;
  justify-content: flex-end;
}

.footer-form-buttons > button {
  margin: 5px;
}

.app-title {
  font-family: Capture_it;
  font-size: 35px;
  color: #2B8FD5 !important;
}

@font-face {
    font-family: Capture_it;
    src: url('/assets/Capture_it.ttf');
}
