.manifest-card-summary {  
  padding: 0px 10px 2px 10px;
  border: 1px solid;
  box-shadow: 1px 3px #888888;
}

.mainfest-order-label {
  font-weight: bold;
}

.manifest-observation {
  font-style: italic;
}

.manifest-inner-separator {
  display: block;
  border-top: 1px dotted #ccc;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.manifest-item {
  margin-bottom: 2px;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  border: 0
}

.manifest-list-header {
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.manifest-list-add-button {
  float: left;
  width: 33.33333%;
  text-align: left;
}

.manifest-list-period {
  float: left;
  width: 33.33333%;
  text-align: center;
}

.manifest-event-name {
  float: left;
  width: 33.33333%;
  text-align: right;
  padding-top: 10px;
}

.manifest-modal-dialog {
  width: 80%;
}

.form-group {
  margin-bottom: 5px;
}

.form-group > label {
  margin-bottom: 0px;
}

.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}

.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
